/* ........... Evidentia ........... */

/* List view */
.list-view .content {
   display: flex; ?
}
.list-view .selector-grid {
   flex: 2; ?
}
.list-view .metadata-grid {
   flex: 2; ?
}
.list-view .left-section {
   flex: 1;
}
.list-view .right-section {
   flex: 1;
}
.list-view .selector {
   max-width: 900px;
   flex: 3; ?
}

.list-view .item-form {
   flex: 1;
   padding: var(--lumo-space-m); ?
}
.list-view .message-form {
   flex: 1;
   padding: var(--lumo-space-m); ?
}

/* Schema view */
.main-view {
  align-items: flex-start;
  /* align-items: stretch;*/
}
.main-view .left-section {
   max-width: 200px;
   flex: 1;?
}
.main-view .content {
   max-width: 600px;
   flex: 1;?    
   padding: var(--lumo-space-m);
}
.main-view .selector {
   align-items: flex-start;
   min-width: 750px;
   max-width: 750px;
   flex: 2;?
}

.main-view .right-section {
   min-width: 200px;
   max-width: 650px;
   flex: 1;?
}

.main-view .right-section .selected-item-form {
      border: 1px ridge lightgray;
      background-color: ivory;
      margin: 2px;
      padding: 10px;
}

.main-view .right-section .selected-item-form .field-form {
     border: 1px ridge lightgray;
     background-color: ivory;
     padding:10px;
     margin: 10px;
}


/* Hierarchical selector */
.selector-tree {
   flex: 1; ?
}
.selected-item-form {
   flex: 1; ?
}

/*  Notification */
.notifier-error{
   background-color: Beige;
   color: Crimson
}
.notifier-accept{
   background-color: Beige;
   color: RoyalBlue
}
