/* ........... Evidentia ........... */

/* List view */
.list-view .content {
   display: flex; ?
}
.list-view .selector-grid {
   flex: 2; ?
}
.list-view .left-section {
   flex: 1;
}
.list-view .right-section {
   flex: 1;
}
.list-view .selector {
   max-width: 1100px;
   flex: 3; ?
}

.list-view .item-form {
   flex: 1;
   padding: var(--lumo-space-m); ?
}
.list-view .message-form {
   flex: 1;
   padding: var(--lumo-space-m); ?
}

/* Hierarchical selector */
.selector-tree {
   flex: 1; ?
}
.selector-list {
   flex: 1; ?
}

/*  Notification */
.notifier-error{
   background-color: Beige;
   color: Crimson
}
.notifier-accept{
   background-color: Beige;
   color: RoyalBlue
}

/* Media */
@media all and (max-width: 1100px) { ?
   .list-view.editing .toolbar,
   .list-view.editing .selector-grid {
      display: none;
   }
}
